body {
  /* background-color: #121212; */
  background-image: url("Mountains.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 62.5%;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./font/Roboto-Thin.ttf") format("truetype");
}

.grid-container {
  display: grid;
  grid-template-columns: 0.35fr auto 0.55fr;
}

.clock-container {
  min-width: 50em;
}

#clock {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 15em;
}

#clock-seconds {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 8em;
}

#day-of-week {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  padding-left: 15px;
}

#day-of-month {
  font-family: "Roboto" sans-serif;
  color: white;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}

#month {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}

.weather-top-flex {
  display: flex;
  grid-template-columns: auto auto auto;
  padding-top: 1.5em;
  min-width: 40em;
}

.weather-top {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 3em;
  text-align: center;
  flex-grow: 1;
}

.weather-mid-grid {
  display: flex;
  grid-template-columns: auto auto auto;
}

.weather-symbol {
  font-size: 6em;
  color: white;
  text-align: right;
  font-weight: 100;
  flex-grow: 0.75;
  padding-top: 0.33em;
  padding-bottom: 0.33em;
  padding-right: 0.25em;
}

.tempreature {
  font-family: "Roboto", sans-serif;
  font-size: 9em;
  color: white;
  text-align: center;
  flex-grow: 1;
}

.high-low-container {
  padding-top: 2em;
  padding-bottom: 2em;
  flex-grow: 0.5;
  text-align: center;
  /* border: solid red; */
  min-width: 6.5em;
}

.high-low {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2.5em;
}
