.body {
    background-color: #242424;
}

td {
  padding-top: 10px;
}

.button-holder {
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  background-color: white;
  border: none;
  color: #242424;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  border-radius: 8px;
  width: 200px;
  height: 75px;
}

@media (max-width: 500px) {

    button {
      font-size: 40px;
      width: 70vw;
      height: 75px;
    }
    .button-holder {
      margin-top: 20vw;
      margin-left: 12vw;
      margin-right: 12vw;
    }
}
